@use "global" as *;

.top-price {
  margin-top: rem(84);
  padding-top: rem(84);
  padding-bottom: rem(84);
  @include mq(md) {
    margin-top: rem(74);
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}