@use "global" as *;

.blog {
  position: relative;
}
.blog::before {
  display: none;
  @include mq(md) {
    content: "";
    display: block;
    background-image: url(../images/common/blog-back.jpg);
    background-size: cover;
    width: 100%;
    top: 0;
    height: rem(500);
    position: absolute;
    z-index: -1;
    }
}
.blog__bg-image {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(376.51);
    position: absolute;
    top: rem(24);
    left: max(rem(15), calc(50% - rem(620)));
  }
}
.blog__inner {
  max-width: rem(540);
  padding: 0 rem(21);
  
}
.blog__title .section-title__en,
.blog__title .section-title__jp {
  @include mq(md) {
    color: $white;
  }
  }

.blog__title .section-title__en::first-letter {
  @include mq(md) {
  color: $white;
  text-transform: capitalize;
}
}
.blog__items {
  margin-top: rem(31);
  @include mq(md) {
    margin-top: rem(80);
  }
}
.blog__btn {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}