@use "global" as *;

.campaign {
  position: relative;
  overflow: hidden;
  // ボタンの下線を消さないために
  padding-bottom: rem(6);
}
.campaign__inner {
  position: relative;
  max-width: rem(540);
}
.campaign__swiper {
  overflow: visible;
  margin-top: rem(31);
  @include mq(md) {
    margin-top: rem(42);
    margin-right: calc(50% - 50vw);
    overflow: hidden;
    padding-bottom: rem(10);
  }
}
.campaign__slide {
  height: auto;
}
.campaign__items {
  display: flex;
}
.swiper-wrapper {
  position: relative;
  margin-right: calc(50% - 50vw);
}
.campaign__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq(md){    
    margin-top: rem(70);
  }
}

// swiper調整

/* 前へ次への矢印カスタマイズ */
.campaign-controller {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  right: rem(25);
}
.campaign__button--prev:after,
.campaign__button--next:after {
  content: "";
}
.campaign__button--prev,
.campaign__button--next {

  display: none;
  @include mq(md) {
    position: initial;
    align-items: center;
    justify-content: center;
    width: rem(80);
    height: rem(80);
    border: 1px solid;
    color: $greenaccent;
    display: flex;
    border-radius: 50%;
    margin-top: 0;
  }
}
.campaign__button--next {
  margin-left: rem(80);
}
.campaign__yazirusi {
position: relative;
width: rem(40);
top: rem(2);
}
.campaign__line01 {
height: 1px;
background-color: $greenaccent;
}
.campaign__line02 {
position: absolute;
top: 0;
right: 0;
transform-origin: right bottom;
width: rem(10);
height: 1px;
background-color: $greenaccent;
transform: rotate(45deg);
}
.campaign__line02--left {
  background-color: #408F95;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-45deg);
  transform-origin: left bottom;
  width: rem(10);
}
