@use "global" as *;

.campaign {
  position: relative;
  overflow: hidden;
}
.campaign__inner {
  position: relative;
}
.campaign__swiper {
  overflow: visible;
  margin-top: rem(24);
  max-width: rem(280);
  @include mq(md) {
    margin-top: rem(40);
    max-width: initial;
  }
}
.campaign__items {
  display: flex;
  
}
.campaign__btn {
  margin-top: rem(40);
  @include mq(md){    
    margin-top: rem(80);
  }
}

// swiper調整

/* 前へ次への矢印カスタマイズ */
.campaign-controller {
  position: absolute;
  display: flex;
  top: 0;
}
.campaign__button--prev:after,
.campaign__button--next:after {
  content: "";
}
.campaign__button--prev,
.campaign__button--next {
  display: none;
  @include mq(md) {
  align-items: center;
  justify-content: center;
  width: rem(80);
  height: rem(80);
  border: 1px solid;
  color: $greenaccent;
  display: flex;
  border-radius: 50%;
  margin-top: 0;
  }
}
.campaign__button--prev {
  left: calc(1020 / 1440 * 100vw);
}
.campaign__button--next {
  left: calc(1180 / 1440 * 100vw);
}
.campaign__yazirusi {
position: relative;
width: rem(40);
}
.campaign__line01 {
height: 1px;
background-color: $greenaccent;
}
.campaign__line02 {
position: absolute;
top: 0;
right: 0;
transform-origin: right bottom;
width: rem(15);
height: 1px;
background-color: $greenaccent;
transform: rotate(45deg);
}
.campaign__line02--left {
  background-color: #408F95;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-45deg);
  transform-origin: left bottom;
  width: 0.9375rem;
}