@use "global" as *;


.card-list {
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
  }
  }
.card-list__item {
	width: 100%;
  @include mq(md) {
  width: calc(33.3333% - rem(40) * 2 / 3);
}
}
.card-list__item + 
.card-list__item {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(40);
}
}
.card-list .card-list__item:nth-child(3n+1)  {
  margin-left: 0;
}
.card-list .card-list__item:nth-child(n+4)  {
  @include mq(md) {
  margin-top: rem(40);
}
}