@use "global" as *;

.fv {
  height: 100vh;
  position: relative;
}
.fv__img {
  height: 100vh;
}
.fv__img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.fv__header {
  color: $white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.fv__title {
  font-family: $lato-font-family;
  font-size: rem(40);
  font-weight: $normal;
  letter-spacing: 0.54em;
  text-transform: uppercase;
  @include mq(md) {
    font-size: rem(80);
  }
}
.fv__sub-title {
  font-family: $gotu-font-family;
  font-size: rem(20);
  font-weight: $normal;
}