@use "global" as *;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(13, 41, 54, 0.68);
  height: rem(80);
  z-index: 9999;
  @include mq(md) {
    height: rem(90);
  }
}
.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(15);
  @include mq(md) {
    padding: 0 rem(40);
  }
}

.header__logo {
  width: rem(102);
  position: relative;
  z-index: 9999;
  @include mq(md) {
    width: rem(133);
  }
}
.header__link {
  height: inherit;
  display: inline-block;
  display: flex;
  align-items: center;
}

// SP画面開いた時に色変わる
.js-header-inner.is-open {
  background-color: $greenaccent;
}