@use "global" as *;

.information {
  background: $green2;
  padding-top: rem(84);
  padding-bottom: rem(84);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}
.information__inner {
  max-width: rem(540);
}
.information__contents {
  margin-top: rem(31);
  @include mq(md) {
    margin-top: rem(44);
    display: flex;
  }
}
.information__curtain {
  position: relative;
  overflow: hidden;
  @include mq(md) {
    width: calc(540 / 1080 * 100%);
  }
}
.information__img {
  position: relative;
  overflow: hidden;
  @include mq(md) {
  }
}
.information__slide {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  height: 100%;
  z-index: 3;
  background-color: $greenaccent;
}
.information__img::before {
  content: "";
  display: block;
  padding-top: calc(227 / 345 * 100%);
  @include mq(md) {
    padding-top: calc(356 / 540 * 100%);
  }
}
.information__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.information__content {
  margin-top: rem(21);
  @include mq(md) {
    margin-top: rem(60);
    margin-left: rem(48);
    width: calc(492 / 1080 * 100%);
  }
}
.information__head {
  font-size: rem(20);
  font-weight: $bold;
  color: $green;
  line-height: calc(24 / 16);
  border-bottom: 1px solid $greenaccent;
  @include mq(md) {
    font-size: rem(24);
    line-height: 1;
    padding-bottom: rem(8);
  }
}
.information__text {
  font-size: rem(16);
  font-weight: $normal;
  color: $green;
  line-height: calc(24 / 16);
  margin-top: rem(8);
}
.information__btn {
  margin-top: rem(40);
  text-align: center;
}