@use "global" as *;

.pc-nav {
  display: none;
  @include mq(md) {
    display: block;
  }
}
.pc-nav__items {
  display: flex;
}
.pc-nav__item {
  text-align: center;
}
.pc-nav__item a {
  color: $white;
  display: inline-block;
  position: relative;
}
.pc-nav__item a {
  padding-left: rem(20);
}
.pc-nav__item:not(:last-child) a {
  padding-right: rem(20);
}
.pc-nav__en {
  font-family: $gotu-font-family;
  font-size: rem(18);
  font-weight: $normal;
  line-height: 1;
}
.pc-nav__en::first-letter {
  text-transform: capitalize;
}
.pc-nav__ja {
  font-size: rem(10);
  font-weight: $normal;
  line-height: 1;
  margin-top: rem(4);
  white-space: nowrap;
}

// ホバーアニメーション

.pc-nav__item a::after {
  content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background: $white;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
}
.pc-nav__item a:hover::after {
  transform: scale(1, 1);
}