@use "global" as *;

.price {
  position: relative;
  background-color: $green2;
}
.price__inner {
  max-width: rem(540);
}
.price__contents {
  margin-top: rem(31);
  @include mq(md) {
    margin-top: rem(43);
    display: flex;
    flex-direction: row-reverse;
  } 
}
.price__curtain {
  position: relative;
  overflow: hidden;
  @include mq(md) {
    width: calc(746 / 1080 * 100%);
    margin-left: rem(93);
  }
}
.price__slide {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  height: 100%;
  z-index: 3;
  background-color: $greenaccent;
}
.price__img {
  position: relative;
  overflow: hidden;
  @include mq(md) {
  }
}
.price__img::before {
  content: "";
  display: block;
  padding-top: calc(227 / 345 * 100%);
  @include mq(md) {
    padding-top: calc(746 / 492 * 100%);
  }
}
.price__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.price__content {
  margin-top: rem(40);
  @include mq(md) {
    width: calc(746 / 1080 * 100%);
    margin-top: 0;
    margin-bottom: rem(98);
  }
}
.price__block {
  margin-top: rem(42);
  @include mq(md) {
    margin-top: rem(39);
  }
}
.price__block:nth-child(1) {
  @include mq(md) {
    margin-top: 0;
  }
}
.price__btn {
  margin-top: rem(41);
  text-align: center;
  @include mq(md) {
    margin-top: rem(80);
  }
}
.price__bg-image {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    width: rem(437);
    bottom: rem(58);
    left: max(rem(15), calc(50% - rem(620)));
    width: clamp(rem(285), calc(437 / 1440 * 100vw), rem(437));
  }
}