@use "global" as *;

.section-title {
  text-align: center;
}
.section-title__en {
  font-family: $gotu-font-family;
  font-size: rem(32);
  font-weight: $normal;
  color: $green;
  line-height: 1;
  @include mq(md) {
    font-size: rem(40);
  }
}
.section-title::first-letter {
  color: $greenaccent;
  text-transform: capitalize;
}
.section-title__ja {
  font-family: $noto-font-family;
  font-size: rem(12);
  font-weight: $normal;
  color: $greenaccent;
  line-height: 1;
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(8);
  }
}