@use "global" as *;

.sp-nav {
  transform: translateX(-100%);
	padding-top: rem(80);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: $greenaccent;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  z-index: -1;
  transition: ease .3s;
  font-family: $noto-font-family;
  @include mq(md) {
    display: none;
  }
}
.sp-nav__wrapper {
  display: flex;
  max-width: rem(600);
  height: rem(600);
  margin-top: rem(20);
}
.sp-nav.is-open {
  transform: translateX(0);
}
.sp-nav__items {
  width: 50%;
}
.sp-nav__item:not(:first-child) {
  margin-top: rem(34);
}
.sp-nav__item {
  background-image: url(../images/common/link-image.svg);
  background-repeat: no-repeat;
  background-position: 0 rem(3);
  background-size: auto rem(18);
  padding-left: rem(22);
}
.sp-nav__item a {
  display: block;
  width: 100%;
  font-size: rem(16);
  font-weight: $bold;
  color: $white;
}
.sp-nav__sub-items {
  margin-top: rem(9);
}
.sp-nav__items + .sp-nav__items {
  margin-left: rem(5);
}

.sp-nav__sub-item a {
  display: block;
  width: 100%;
  font-size: rem(16);
  font-weight: $normal;
  color: $white;
  padding-top: rem(9);
  padding-bottom: rem(9);
}
.sp-nav__sub-item:last-child a {
  padding-bottom: 0;
}
